
@media screen and (max-width: 768px){
    #menu {
        display: none;
    }
    #burger{
        display: flex;
        justify-content: flex-end;
    }
}
:root{
    --primary-color : #932a2a;
    --secondary-color : #eaea29;
    --dark-color : #000000;
    --dark-grey : #232323;
    --color-on-dark : #fff;
    --dark-grey-transparent : rgba(35,35,35,0.75);
    --font-family : arial;
    --font-size : 1.2em;
}

*{
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

a:hover{
    cursor:pointer;
}


header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: var(--dark-grey);
}

nav{
    display: flex;
    justify-content: flex-end;
}

.menu{
    display : flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    list-style: none;
    border-radius: 5px;
}

.menu li{
    margin: 20px 20px;
}

.menu li :hover:not(.active){
    background-color: #5f5b5b;
    cursor: pointer;
}

a, a:visited{
    color: var(--color-on-dark);
    text-decoration: none;
}


.menu .a-active{
    background-color: #4a8d08;
    border-radius: 5px;
    cursor: pointer;
}

#burger{
    display:none;
    cursor: pointer;
}

#burger-img{
    width: 50px;
}

.logo_container{
    display:block;
    position:fixed;
    z-index:3;
    left:50px;
    width:100px;
    height:120px;
    border-radius: 0px 0px 5px 5px;
    background: var(--secondary-color) url("/assets/adoptePompier.png") center / contain no-repeat;
    padding: 20px;
}

.tagline{
    position:relative;
    margin-left:40px;
    align-items:flex-end;
    display:flex;
    left:140px;
    justify-content: flex-end;
}


.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


/*.left-land{*/
/*    background-image: ;*/
/*}*/

/*.right-land{}*/

#button_page_01{
    width: 200px;
    height: 200px;
    background-color: bisque; /* à enlever une fois l'image mise en place*/
}

footer {
    position:fixed;
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    width: 100%;
    padding: 28px 45px 33px 53px;
    background-color: var(--dark-grey-transparent);
    color:var(--primary-color);
}

.left-footer{
    width:50px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
    align-items: center;
    overflow: hidden;
}

.footer-link{
    margin: 0px 20px;
    padding: 20px;
}

.footer-links li::marker{
    content: "❤";
}

.copyright{
    font-size: small;
}



/* Debut Catalogue ================================= */

.catalogue-topbar{
    display: flex;
    flex-flow: row nowrap;
    border: solid 2px grey;
    align-items: center;
}

.catalogue-icons{
    height: 40px;
    margin: 10px;
}

.dispo{
    border-radius: 30px;
    background-color: white;
    border-color: grey;
    height: 60px;
    padding: 0px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.form{
    margin: 0px 30px;
}

.dispo-form{
    display: flex;
    align-items: center;
    padding-top: 15px;
}




.cards{
    display :flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
}


.card{
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height:500px;
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.carou-left{
    width: 36px;
    height:50px;
    background-image: url("./assets/leftarrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 50px;
}

.carou-right{
    width: 36px;
    height:50px;
    background-image: url("./assets/rightarrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}


.card-noshow{
    display: none;
}

.card-img{
    background-color: white;
    width:100%;
    height:50%;
    background-size: cover;
    border-radius: 10px;
}

.card-body{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 12px;
}

.Fireman-name{
    font-weight: bold;
    font-size: 14px;
}

.card-spec{
    list-style-type: none;
    font-size: 14px;
}

.card-button{
    background-color: red;

}

.divbutton{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fire-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: darkred;
    color: white;
    font-size: large;
    border-radius: 999px;
}

.fire-button:hover {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}


label{
    padding: 5px;
    margin: 10px;
}

.champ{
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 250px;
}

input{
    margin-left: 300px;
    margin-top: 40px;
}

select {
    padding: 5px;
    margin: 10px;
}
.allTeamMembers{
    display :flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.carContainer{
    display: flex;
}

.memberCard{
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 300px;
    flex-wrap: wrap;
    display: flex;
}
.pictureMember{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.arrow-left{
    display: flex;
    align-items: center;
}
.arrow-left :hover{
    cursor: pointer;
}
.arrow-right{
    display: flex;
    align-items: center;
    background-image: url("assets/rightarrow.png");
    height: 50px;
    width: 50px;
}

.arrow-right :hover{
    cursor: pointer;
    background-image: url("assets/hover-right-arrow.png");
}

.arrow-left img{
    height: 50px;
    width: 36px;
    margin-right: 5px;
}
.arrow-right img{
    height: 50px;
    width: 36px;
    margin-left: 5px;
}
