/* ======   GENERAL ===========  */
:root{
    --primary-color : #932a2a;
    --secondary-color : #eaea29;
    --dark-color : #000000;
    --dark-grey : #232323;
    --color-on-dark : #fff;
    --dark-grey-transparent : rgba(35,35,35,0.75);
    --font-family : arial;
    --font-size : 1.2em;
    --header-height : 80px;
    --footer-height : 50px;
}

*{
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    display:flex;
    flex-direction: column;
}

a, a:visited{
    color: var(--color-on-dark);
    text-decoration: none;
}

a:hover{
    cursor:pointer;
}

.titles{
    color: var(--secondary-color);
}


/* ======   MAIN COMPONENTS ===========  */

.whole_page{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    background-color: var(--dark-grey);
}

.main-container {
    border: solid yellow 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main-container-index{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: var(--dark-grey-transparent);
    color:var(--primary-color);
}


/* ======   INDEX CONTENT ===========  */

.main-divs{
    width:auto;
    font-family: 'Chango', cursive;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-div-left{
    align-items: flex-end;
    text-align: end;
}

#clipped-logo {
    position: relative;
    %clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    top: 50%;

}

#clipped-left {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    transition: transform 1s;
    width: 90%;
    margin-top: 10px;
}

#clipped-left:hover {
    transform: translate(-100px);

}

#clipped-right {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transition: transform 1s;
    margin-top: 10px;
    width:90%;
}

#clipped-right:hover {
    transform: translate(100px);
}


/* ======   HEADER ===========  */


nav{
    display: flex;
    justify-content: flex-end;
}

#menu{
    display : flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    list-style: none;
}

#menu li{
    margin: 10px;
}

#menu a:hover{
    cursor:pointer;
    font-size: 1.5em;
    transition-duration: 0.4s;
}

#burger{
    display:none;
    cursor: pointer;
    margin:25px 10px 10px 10px;
}

#burger-img{
    width: 50px;
}

.logo_container{
    display:block;
    position:fixed;
    z-index:3;
    left:50px;
    width:100px;
    height:120px;
    border-radius: 0px 0px 5px 5px;
    background: var(--secondary-color) url("/assets/adoptePompier.png") center / contain no-repeat;
    padding: 20px;
}
.logo_container:hover {
    width: 120px;
    height: 140px;
    box-shadow: 10px 5px 5px black;
}

.tagline{
    position:relative;
    align-items:flex-end;
    display:flex;
    left:160px;
    justify-content: flex-end;
    font-family: 'Chango', cursive;

}

#button_page_01{
    width: 200px;
    height: 200px;
    background-color: bisque; /* à enlever une fois l'image mise en place*/
}


/* ======   FOOTER ===========  */

.left-footer{
    width:50px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    overflow: hidden;
    height: 60px;

}

.footer-link{
    margin: 0px 20px;
    padding: 20px;
}

.footer-links li::marker{
    content: "❤";
}

.copyright{
    font-size: small;
}



/* ===============   CATALOGUE ================================= */

.catalogue-topbar{
    position:relative;
    display: flex;
    top:-30px;
    flex-flow: row nowrap;
    align-items: center;
}

.catalogue-icon{
    height: 40px;
    margin: 0 10px;
    cursor:pointer;
}

.catalogue-icons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dispo{
    border-radius: 30px;
    background-color: white;
    border-color: grey;
    height: 60px;
    width:auto;
    padding: 0 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.dispo-form{
    display: flex;
    align-items: center;
}

.dispo-form input{
    margin: 0 10px;
    border: solid 1px grey;
    height: 30px;
}

.cards{
    display :flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
}

.card{
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height:500px;
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.arrow-left{
    display: flex;
    align-items: center;
    height: 50px;
    width: 35px;
}

.arrow-left :hover{
    cursor: pointer;
    background-image: url("assets/left-arrow-black.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.arrow-right{
    display: flex;
    align-items: center;
    height: 50px;
    width: 35px;
}

.arrow-right :hover{
    cursor: pointer;
    background-image: url("assets/right-arrow-black.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.carou-left{
    width: 36px;
    height:50px;
    /*background-image: url("./assets/leftarrow.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 50px;
}

.carou-right{
    width: 36px;
    height:50px;
    /*background-image: url("./assets/rightarrow.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.arrow-left{
    display: flex;
    align-items: center;
    height: 50px;
    width: 35px;
}

.arrow-left :hover{
    cursor: pointer;
    background-image: url("assets/left-arrow-black.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.arrow-right{
    display: flex;
    align-items: center;
    height: 50px;
    width: 35px;
}

.arrow-right :hover{
    cursor: pointer;
    background-image: url("assets/right-arrow-black.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.card-noshow{
    display: none;
}

.card-img{
    background-color: white;
    width:100%;
    height:50%;
    background-size: cover;
    border-radius: 10px;
}

.card-body{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 12px;
}

.people-name{
    font-weight: bold;
    font-size: 14px;
}

.card-spec{
    list-style-type: none;
    font-size: 14px;
}

.card-button{
    background-color: red;

}

.divbutton{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.divbutton input{
    margin:10px;
}

.fire-button {
    color: white;
    font-weight: bold;
    border-radius:50px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    background-color: var(--primary-color);
    border: solid yellow 1px;

}

.fire-button:hover {
    transform: scale(1.1);
    transition: transition-timing-function ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

}


/* ===================== FORMULAIRE =================  */

.form-cell label{
    padding: 5px;
    margin: 10px;
}

.champ{
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 250px;
}

.form-cell input{
    margin-left: 300px;
    margin-top: 40px;
}

select {
    padding: 5px;
    margin: 10px;
}

.contact-button{
    background-color: #eaea29;
    font-size: x-large;
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 300px;
}

.texte-du-formulaire{
    margin: 20px;
}

.dernière-demande-formulaire {
    margin-bottom: 60px;
}




/* =======================Equipe ============================*/
.equipe {
    margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.memberCard{
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pictureMember{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}





/* Debut caserne, initiative ================================= */

.conteneur-flexible-image-et-texte{
    display: flex;
}

.element-flexible-image-et-texte{
    display: flex;
    font-size: 18px;
    margin: 20px;
}

.image-des-pompiers-de-image-et-texte{
    height: 180px;
    width: 200px;
    margin: 20px;
}

.texte-des-pompiers-de-image-et-texte{
    margin: 20px;
}

.titre-des-image-des-pompiers-de-image-et-texte{
    margin: 20px;
}

.contact-button{
    background-color: var(--secondary-color);
    font-size: x-large;
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 300px;
    margin-top: 40px;
}


/* ===============            RESPONSIVE               ================ */

@media screen and (max-width: 768px) {

    #menu {
        flex-direction: column;
        font-size: 14px;
    }

    #menu li {
        margin: 5px;
    }


    .dernière-demande-formulaire {
        margin-bottom: 60px;
    }

    .à-mettre-en-jaune {
        color: var(--secondary-color);
    }

    .image-de-page-succes {
        border-color: var(--secondary-color);
        border-width: 3px;
        border-radius: 30px;
    }

    #burger {
        display: flex;
        justify-content: flex-end;
    }

    .tagline {
        display: none;
    }

    .formulaire-de-contact {
        display: flex;
        flex-direction: column;
    }

    .logo_container{
        left:20px;
    }

    #clipped-left{
        width: 125px;
        height: 83px;
    }
    #clipped-right{
        width: 125px;
        height: 83px;
    }

    .titles{
        font-size: 0.9em;
    }

    .left-footer{
        display: none;
    }

    .footer-links{
        justify-content: flex-start;
    }

    .footer-link{
        padding: 0px;
        font-size : 15px;
    }



}


/* ===================== Project =================  */
.titre-caserne{
    margin-bottom: 20px;
}

.caserne{
    height: 310px;
    border-radius: 15px;
}
.img-projet{
    display: flex;
}
.down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-down{
    height: 70px;
    width: 70px;
}
.text-project{
    text-align: center;
}