body{
    background-color: black;
}

.dispo{
    border-radius: 30px;
    background-color: white;
    border-color: grey;
    height: 60px;
    padding: 0px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.form{
    margin: 0px 30px;
}

.dispo-form{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.catalogue-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card{
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-noshow{
    display: none;
}

.card-img{
    background-color: white;
    width:100%;
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.card-title{
    padding: 10px;
    display: inline-block;
    color:black;
    background-color: white;
}

.Fireman-name{
    font-weight: bold;
}

.card-spec{
    background-color: white;
    list-style-type: none;

}

.card-desc{
    background-color: white;
    padding: 10px;
}

.card-button{
    background-color: red;

}